{% extends 'base.html.twig' %}

{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}

<h1>Empresas</h1>

  <form method="GET">
        <input type="text" name="term" />
        <input type="submit" value="Buscar" />
    </form>
    <hr/>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Sector</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.phone }}</td>
            <td>{{ company.email }}</td>
            <td>{{ company.sector }}</td>
        </tr>
        {% endfor %}
    </tbody>
<table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: purple;
        padding: 20px;
    }
    td {
        padding: 20px;
    }
</style>
{% endblock %}